@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@theme {
  --font-sans: 'Inter_700Black';
  --font-display: 'Inter_700Black';
  --color-primary: #1f3125;
}

@source './node_modules/heroui-native/lib';
